@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Yeon+Sung&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /* border: 1px solid red; */
}

nav {
    background-color: #2D2E2E;
    padding: 20px 15px;
}

.navbar ul{
    display: flex;
    gap: 25px;
}

.navbar img {
    width: 20px;
    height: 20px;
  }

.inverted {
    filter: invert(100%)
}

li {
    display: flex;
    list-style: none;
}

a {
    margin-top: 6px;
    margin-left: 5px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 550;
}

a:hover {
    color: #BCABAE;
}

.intro_container {
    text-align: center;
}

#dp {
    margin-top: 20px; 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #2D2E2E;
}

.intro_container p {
    font-size: 28px;
    font-family: 'Yeon Sung', cursive;
}

.context {
    width: 100%;
    position: absolute;
    top: 18vh;  
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:70vh;
}

.circles{
    position: absolute;
    left: 0;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.skills_heading {
    display: flex; 
    justify-content: center; 
    margin: 20px 0;
    padding: 5px;
}

.skills_container {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    gap: 30px;
    height: 40vh;
}

.html {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    height: fit-content;
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 700;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 0.4s;
}

.html img {
    width: 100px;
    height: 100px;
}

.css {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    height: fit-content;
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 0.4s;
}

.css img {
    width: 140px;
    height: 140px;
}

.javascript {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    height: fit-content;
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 700;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 0.4s;
}

.javascript img {
    width: 100px;
    height: 100px;
}

.react {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    height: fit-content;
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 700;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 0.4s;
}

.react img {
    width: 120px;
    height: 120px;
}

.html:hover,.css:hover,.javascript:hover, .react:hover {
    background-color: rgb(131, 131, 131);
    color: White;
    font-weight: 700;
    transform: scale(1.2);
    z-index: 2.5;
}

@media (max-width: 480px) {
    .skills_container {
        width: 375px;
        height: 50vh;
        flex-wrap: wrap;
        justify-content:center;
        margin-top: 30px;
        /* margin-bottom: 40vh; */
    }
}